<div class="container">
  <h5><%= link_to "Log Out", logout_path, method: :delete %></h5>

  <%= render partial: "layouts/flash" %>
  <div>
    <h2>Submit a Link</h2>
    <%= form_for :link do |f| %>
    <div class="form-group">
      <%= f.label :url, class: "control-label" %>
      <%= f.url_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= f.submit "Submit" %>
    <% end %>
  </div>
  <div id="all-links">

  </div>
</div>
