<div class="container">
  <h5><%= link_to "Log Out", logout_path, method: :delete %></h5>

  <%= render partial: "layouts/flash" %>
  <h2>Submit a Link</h2>
  <%= form_for :link do |f| %>
  <div class="form-group">
    <%= f.label :url, class: "control-label" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.password_field :title, class: "form-control" %>
  </div>
  <%= f.submit "Submit" %>
  <% end %>
</div>
